{{ $pageset := .Get 0 -}}
{{ $pages := .Site.Taxonomies.pagesets.Get $pageset }}

{{ range $pages }}
{{ $itemID := delimit (slice $pageset .Page.UniqueID) "-" -}}
<div class="pageset-block">
  <h2 id="{{ $itemID }}">
    <a href="{{ .Page.RelPermalink }}">{{ .Page.LinkTitle }}</a>
  </h2>
  <p>{{ .Page.Params.description | markdownify }}</p>
</div>
{{ $tocItem := dict "UniqueID" $itemID "LinkTitle" .Page.LinkTitle "PageSet" $pageset -}}
{{ $.Page.Scratch.Add "DynamicToc" (slice $tocItem) -}}
{{ end }}
